<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <title>Elia Toribio</title>
</head>
<body>
   <section class="container_404">
    <header>
      <div class="logo_first">
          <img class="logo_Animated" src="../public/assets/img/svg/logo_elia.svg" alt="Logo">
      </div>
      <nav class="navbar">
        
          <!-- <div class="hamburguer_menu" > -->

             
                <input id="menu__toggle"  type="checkbox" />
                <label class="menu__btn stop_scrolling" for="menu__toggle" id="label_menu">
                  <span class="scrolling_actived" ></span>
                </label>
                
                <!-- <div id="expand"></div> -->
                <ul class="menu__box" id="menu_box">
                  <li><a href="#aboutme" class="menu__item"  id="aboutme_nav" >About me</a></li>
                  <li><a href="#" class="menu__item"  id="work" >Work</a></li>
                  <li><a href="Elias_PortfolioDESIGN.pdf" class="menu__item" id="cv" target="_blank id="CV">CV</a></li>
                  <div class="nav_icon">
                      <h3>GET IN TOUCH</h3>
                      <ul class="icon_mobile">
                          <li><a href="mailto:elitoribio01@email.com"><img src="../public/assets/img/email.png" alt="Send me an Email"></a></li>   
                          <li> <a href="https://www.linkedin.com/in/elia-toribio-98195b20a/" target="_blank"><img src="../public/assets/img/linkedin.png" alt="Linkedin"></a>
                          <li> <a href="https://github.com/EliaTG" target="_blank"><img src="../public/assets/img/github.png" alt="Github"></a></li>    
                      </ul>
                    
                </div> 
              </ul>
          <!-- </div>    -->
          <ul class="nav-links desktop">
              <li><a href="#aboutme" id="about-bar" id="aboutme_nav" >About me</a></li>
              <li><a href="Elias_PortfolioDESIGN.pdf" id="cv" target="_blank id="CV">CV</a></li>
          </ul>
      </nav> 
  </header>
      <div class="container_h1">
        <div class="h1_text"><h1> <span>404</span> Not Found</h1></div>    
       </div>
   </section>
 
    
</body>
</html>

