<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <title>Elia Toribio</title>  
</head>
<body>
    <section class="homepage grid-container scroll_trigger" id="homepage">
        <div class="menu_container">   

                    <header>
                        <div class="logo_first">
                            <img class="logo_Animated" src="../public/assets/img/svg/logo_elia.svg" alt="Logo">
                        </div>
                        <nav class="navbar">
                            <ul class="nav-links desktop" id="nav_desktop">
                                <li><a href="#aboutme" id="about-bar" id="aboutme_nav">About me</a></li>
                                <li><a href="" id="cv" target="blank id="CV">CV</a></li>
                                <li><a href="#Work" id="Work-bar" target="blank" id="Work">Work</a></li>
                            </ul>
                    </nav> 
                    </header>
                    
                        <div class="wrapper-menu" id="wrapper">
                            <div class="line-menu half start"></div>
                            <div class="line-menu middle"></div>
                            <div class="line-menu half end"></div>
                        </div>
                    
                    <div class="banner">
                        <div class="introducing_text">
                            <h1 id="h1_animated">Web Developer <br> Junior</h1>
                            <p id="p_animated">Enthusiastic for technology and clean code</p> 
                        </div>
                        <div class="myphoto" id="myphoto">
                            <!-- Here go the img photo -->
                        </div>
                    </div>
                    <div class="svg_mouse">
                        <img src="../public/assets/img/mouse.png" alt="Svg mouse">
                    </div>


                        <div class="gsap_animation">
                            <div class="overlay">
                                <div class="hamburger_menu">
                                        <ul class="ul_menu">                                    
                                            <li><a class="menuItem home"  href="#homepage">Home</a></li>
                                            <li><a class="menuItem"  href="#aboutme">About</a></li>
                                            <li><a class="menuItem"  href="#contact">Contacts</a></li>
                                            <li><a class="menuItem"  href="work.html">Work</a></li>
                                            <li><a class="menuItem" href=""  target="blank">CV</a></li>
                                            <div class="nav_icon">
                                                <h3>get in touch</h3>
                                                <ul class="icon_mobile">
                                                    <li><a href="mailto:elitoribio01@email.com"><img src="../public/assets/img/svg/email_black.svg" alt="Send me an Email"></a></li>   
                                                    <li> <a href="https://www.linkedin.com/in/elia-toribio-98195b20a/" target="blank"><img src="../public/assets/img/linkedin.png" alt="Linkedin"></a>
                                                    <li> <a href="https://github.com/EliaTG" target="blank"><img src="../public/assets/img/github.png" alt="Github"></a></li>    
                                                </ul>
                                            </div> 
                                    </ul>
                                </div>
                            </div>
                        </div>

         </div>         
    </section> 

    <section class="about_page grid-container scroll_trigger" id="aboutme">
      
        <div class="animation">
                <div class="svg_skill" id="svg_skill"></div>
        </div>
        <div class="text_about">
            <h2>About me</h2>
            <p>I'm Elia, a 20-year-old <span>Web Developer</span>  from the Dominican Republic. I'm currently studying software engineering.
               In my free time, I tried to conquer the world, no really, but  I play the guitar, watch anime, and video games.
                In a quest for always keeping myself updated, I read books.</p>
        </div>
    </section>
    <section class="skill_page grid-container scroll_trigger">
            <img  class="logo_skill" src="../public/assets/img/svg/code_bracket.svg" alt="Logo">
            <div class="text_skill">
                <h2>My skills</h2>
            </div>
             
             <div class="box_skill flex-container grid">
                    <div class="flex-item">
                        <img src="../public/assets/img/svg/html5.svg" alt="HTML SVG">
                    </div>
                    <div class="flex-item">
                        <img src="../public/assets/img/svg/css-3.svg" alt="CSS SVG">
                    </div>
                    <div class="flex-item">
                        <img src="../public/assets/img/svg/Javascript244.svg" alt="JS SVG">
                    </div>
                    <div class="flex-item">
                        <img src="../public/assets/img/svg/sql-server.svg" alt="SQL Server SVG">
                    </div>
                    <div class="flex-item">
                        <img src="../public/assets/img/svg/git.svg" alt="GIT SVG">
                    </div>
             </div>   
    </section>
    <section class="work_page grid-container scroll_trigger">
        <h2>/PROJECTS</h2>
        
        <!-- <div class="box_wrapper">
                <div class="project_box active">
                    <div class="box_container">
                        <div class="box_link">
                            <a href="https://github.com/EliaTG/Todo-app-collaborative" target="blank"><img src="../public/assets/img/github.png" alt="Github"></a>
                            <a href="" target="blank"><img src="../public/assets/img/svg/external_link.svg"  alt="External link"></a>
                        </div>
                        <div class="box_content">
                              <h3>Todo app  collaborative</h3>
                              <h5>Html/Css/ React </h5>
                        </div>
                        
                    </div>
                
                </div> -->
                <!-- <div class="project_box">
                    
                </div> -->
               
              <!-- test -->
      
                
        <!-- </div> -->
      
              <!-- <div class="slide box1 carousel__photo initial"></div>
              <div class="slide box2 carousel__photo"></div>
              <div class="slide box3 carousel__photo"></div>
              <div class="slide box4 carousel__photo"></div> -->
                
                <!-- <span class="carousel__button--next slider-control-prev" role="button">
                    <img class="arrow prev" id="prevBtn"  aria-hidden="true" src="../public/assets/img/chevron_left.png" alt="Previous Slide Button">
                </span>

                <span class="carousel__button--next  slider-control-next" role="button">
                    <img class="arrow next" id="nextBtn" aria-hidden="true" src="../public/assets/img/chevron_right.png" alt="Next Slide Button">
                </span> -->
              
                <!-- test 2 -->
                <div class="slider">
                    <div class="slider-item">
                        <div class="box_container">
                            <div class="box_link">
                                <a href="https://github.com/EliaTG/Todo-app-collaborative" target="blank"><img src="../public/assets/img/github.png" alt="Github"></a>
                                <a href="" target="blank"><img src="../public/assets/img/svg/external_link.svg"  alt="External link"></a>
                            </div>
                            <div class="box_content">
                                  <h3>Todo app <br> collaborative</h3>
                                  <h5>Html/Css/ React </h5>
                            </div>
                            
                        </div>
                    
                    
                    </div>
                    <div class="slider-item active" style="background-color: salmon;"></div>
                    <div class="slider-item" style="background-color: bisque;"></div>
                    <div class="slider-item" style="background-color:blueviolet;"></div>
                    <div class="slider-item" style="background-color:rgb(226, 43, 186);"></div>
                    <ol class="slide-indicators">
                        <li class="slide-indicator"></li>
                        <li class="slide-indicator"></li>
                        <li class="slide-indicator"></li>
                        <li class="slide-indicator"></li>
                        <li class="slide-indicator"></li>
                    </ol>
                    <span class="slider-control-prev" role="button">
                        <img class="arrow" aria-hidden="true" src="../public/assets/img/chevron_left.png" alt="Previous Slide Button">
                    </span>
                    <span class="slider-control-next" role="button">
                        <img class="arrow" aria-hidden="true"  src="../public/assets/img/chevron_right.png" alt="Next Slide Button">
                    </span>
                </div>
      
         
    </section>
    <footer class="scroll_trigger grid-container">
        <div class="logo-div"><img src="../public/assets/img/svg/logo_elia.svg" alt="Logo"></div> 
        <div class="svg_footer" id="Animation_web">
            <div id="svg"></div>
            
        </div>
          <div class="socialmedia_page" id="contact">
                <div class="container-socialmedia">
                    <p>Let's talk<img src="../public/assets/img/paper_plane.png" alt="Paper Plane"></p>
                    <div class="href_footer">
                        <div class="h">
                            <a id="email" href="mailto:elitoribio01@email.com"><img  width="40px" height="40px" src="../public/assets/img/email.png" alt="Send me an Email"></a>
                            <a href="https://www.linkedin.com/in/elia-toribio-98195b20a/" target="blank"><img src="../public/assets/img/svg/linkedin.svg" alt="Linkedin"></a>
                            <a href="https://github.com/EliaTG" target="blank"><img src="../public/assets/img/svg/github.svg" alt="Github"></a>    
                        </div>
                    
                    </div>
                </div>
            </div> 
            <div class="copyright">
                <p>Made with <img class="coffee" src="../public/assets/img/coffee.png"  alt="Coffee"> by<a href="https://www.linkedin.com/in/elia-toribio-98195b20a/" target="blank">&ensp;@Elia</a></p>
            </div>
          
    </footer> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.8.0/lottie.min.js"></script>
    <script src="../app.js"></script>
    
</body>
</html>