<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <title>Elia Toribio</title>  
</head>
<body>
    <section class="homepage grid-container scroll_trigger" id="homepage">
        <div class="menu_container">   

                    <header>
                        <div class="logo_first">
                            <img class="logo_Animated" src="../public/assets/img/svg/logo_elia.svg" alt="Logo">
                        </div>
                        <nav class="navbar">
                            <ul class="nav-links desktop" id="nav_desktop">
                                <li><a href="#aboutme" id="about-bar" id="aboutme_nav">About me</a></li>
                                <li><a href="Elias_PortfolioDESIGN.pdf" id="cv" target="blank id="CV">CV</a></li>
                                <li><a href="#Work" id="Work-bar" target="blank" id="Work">Work</a></li>
                            </ul>
                    </nav> 
                    </header>
                    
                        <div class="wrapper-menu" id="wrapper">
                            <div class="line-menu half start"></div>
                            <div class="line-menu middle"></div>
                            <div class="line-menu half end"></div>
                        </div>
                    
                    <div class="banner">
                        <div class="introducing_text">
                            <h1 id="h1_animated">Web Developer <br> Junior</h1>
                            <p id="p_animated">Enthusiastic for technology and clean code</p> 
                        </div>
                        <div class="myphoto" id="myphoto">
                            <!-- Here go the img photo -->
                        </div>
                    </div>
                    <div class="svg_mouse">
                        <img src="../public/assets/img/mouse.png" alt="Svg mouse">
                    </div>


                        <div class="gsap_animation">
                            <div class="overlay">
                                <div class="hamburger_menu">
                                        <ul class="ul_menu">                                    
                                            <li><a class="menuItem home"  href="#homepage">Home</a></li>
                                            <li><a class="menuItem"  href="#aboutme">About</a></li>
                                            <li><a class="menuItem"  href="#contact">Contacts</a></li>
                                            <li><a class="menuItem"  href="work.html">Work</a></li>
                                            <li><a class="menuItem" href="Elias_PortfolioDESIGN.pdf"  target="blank">CV</a></li>
                                            <div class="nav_icon">
                                                <h3>get in touch</h3>
                                                <ul class="icon_mobile">
                                                    <li><a href="mailto:elitoribio01@email.com"><img src="../public/assets/img/svg/email_black.svg" alt="Send me an Email"></a></li>   
                                                    <li> <a href="https://www.linkedin.com/in/elia-toribio-98195b20a/" target="blank"><img src="../public/assets/img/linkedin.png" alt="Linkedin"></a>
                                                    <li> <a href="https://github.com/EliaTG" target="blank"><img src="../public/assets/img/github.png" alt="Github"></a></li>    
                                                </ul>
                                            </div> 
                                    </ul>
                                </div>
                            </div>
                        </div>

         </div>         
    </section> 

    <section class="about_page grid-container scroll_trigger" id="aboutme">
      
        <div class="animation">
                <div class="svg_skill" id="svg_skill"></div>
        </div>
        <div class="text_about">
            <h2>I'm Elia Toribio</h2>
            <p>Let me give you a short intro about myself. I'm a Web Developer from Dominican Republic. I'm currently studying Software at the Instituto Tecnológico de Las
                Américas (ITLA).</p>
        </div>
    </section>
    <section class="skill_page grid-container scroll_trigger">
            <img  class="logo_skill" src="../public/assets/img/svg/code_bracket.svg" alt="Logo">
            <div class="text_skill">
                <h2>My skills</h2>
                <p class="skill_p">Estos son mis conocimientos y los software que
                   utilizo en mi proceso de desarrollo.</p>
            </div>
             
             <div class="box_skill flex-container grid-container">
                    <div class="flex-item">
                        <img src="../public/assets/img/svg/html5.svg" alt="HTML SVG">
                    </div>
                    <div class="flex-item">
                        <img src="../public/assets/img/svg/css-3.svg" alt="CSS SVG">
                    </div>
                    <div class="flex-item">
                        <img src="../public/assets/img/svg/Javascript244.svg" alt="JS SVG">
                    </div>
                    <div class="flex-item">
                        <img src="../public/assets/img/svg/sql-server.svg" alt="SQL Server SVG">
                    </div>
                    <div class="flex-item">
                        <img src="../public/assets/img/svg/git.svg" alt="GIT SVG">
                    </div>
             </div>   
    </section>
    <!-- <section class="contact_page grid-container scroll_trigger" id="contact">
            <div class="photo-line"></div>
            <div class="photo-contact" ></div>
            <h2>Contact me</h2>
            <p>Estoy buscando trabajo, si deseas contratarme o escribirme para algún proyecto en específico.</p>
            <div class="formulario">
                <form action=""  id="form">
                    <div class="input-form">
                        <div class="name formulario__grupo" id="group_name">
                            <label class="formulario__label"  for="name">Name</label>
                            <input type="text" id="name" name="name">

                          
                        </div>
                        <div class="email formulario__grupo"  id="group_email">
                            <label class="formulario__label" for="email">Email</label>
                            <input type="mail" id="email" name="email">

                         
                        </div>
                    </div>
                   
                    <div class="textarea formulario__grupo"  id="group_textarea">
                        <label class="formulario__label"  for="details">Details</label>
                        <textarea name="details" id="details" cols="30" rows="10"></textarea>
                    </div>
                    <div class="button-submit">
                      
                        <button type="submit" id="BtnSVG"><span class="span-submit">Shoot</span>
                    </div>


                  
    
                </form>
            </div>  
 
    </section> -->
    <footer class="scroll_trigger grid-container">
        <div class="logo-div"><img src="../public/assets/img/svg/logo_elia.svg" alt="Logo"></div> 
        <div class="svg_footer" id="Animation_web">
            <div id="svg"></div>
            
        </div>
          <div class="socialmedia_page" id="contact">
                <div class="container-socialmedia">
                    <p>Let's talk<img src="../public/assets/img/paper_plane.png" alt="Paper Plane"></p>
                    <div class="href_footer">
                        <div class="h">
                            <a id="email" href="mailto:elitoribio01@email.com"><img  width="40px" height="40px" src="../public/assets/img/email.png" alt="Send me an Email"></a>
                            <a href="https://www.linkedin.com/in/elia-toribio-98195b20a/" target="blank"><img src="../public/assets/img/svg/linkedin.svg" alt="Linkedin"></a>
                            <a href="https://github.com/EliaTG" target="blank"><img src="../public/assets/img/svg/github.svg" alt="Github"></a>    
                        </div>
                    
                    </div>
                </div>
            </div> 
            <div class="copyright">
                <p>Made with <img class="coffee" src="../public/assets/img/coffee.png"  alt="Coffee"> by<a href="https://www.linkedin.com/in/elia-toribio-98195b20a/" target="blank">&ensp;@Elia</a></p>
            </div>
          
    </footer> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.8.0/lottie.min.js"></script>
    <script src="../app.js"></script>
    
</body>
</html>