@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');
:root {
    --blue:  #1d2ec3;
    --skill_bar: #597EF7;
    --bg: #ffffff;
    --bg_footer: #161616;
    --menu: #616161;
    --menu_hover:  #CFD8DC;
    --progress_bar: #18a0fb;
}
*{ scroll-behavior: smooth;}

/*  Scrollbar */
body::-webkit-scrollbar {
  width: 8px;     /* vertical */
  height: 8px;    /* horizontal */
  display: none;  /* Hide scrollbar*/
}
/* Scrollbar End */

body{
    background-color:  var(--bg);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


section.homepage{
    display: flex;
    max-height: 100vh;
    max-width: 100vw;
    flex-direction: column;
    background-image: url('../img/background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
    overflow-x: hidden;
}  
header{
    min-height: 25vh;
    display: flex;
    flex-direction: row;
}
div.logo_first{
 position: absolute;
 top: 50px; 
 left: 30px;
}
div.logo_first img{
    height: 40px ;
    width: 135px; 
}


/* Hamburguer Menu */
.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 0 2rem 0;
  padding: 0;
  font-size: 1.3em;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  transition: background 0.3s;
}
 .home{
  padding-top: 30%;
}
.menuItem:hover {
  text-decoration: none;
}

.hamburger {
  z-index: 100;
  background: white;
  position: absolute;
  opacity: 0;
  top: 60px; 
  right: 40px;
  cursor: pointer;
}
.menu_container{
  height: 100vh;
  width: 100%;
}


.gsap_animation{
  visibility: hidden;
  width: 100%;
  height: 100vh;
  z-index: 2;
	background-color: var(--blue);
	position: absolute;
	top: 0%;
	left: 0%;
  overflow: hidden;
}

.overlay{
  visibility: hidden;
  width: 100%;
	height: 100vh;
  z-index: 2;
	background-color: var(--progress_bar);
	position: relative;
	top: 0%;
	left: 0%;
}
.hamburger_menu{
  visibility: hidden;
  width: 100%;
	height: 100vh;
  margin: 0;
  z-index: 2;
	background-color: var(--bg);
	position: relative;
}

.ul_menu{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  list-style: none;
}
.hamburger_menu p{
  color: white;
  font-size: 18px;
}
.showMenu {
  transform: translateY(0);
  padding: 0;
}
.menuIcon {
  display: flex;
  align-items: center; 
  position: absolute;
  top: 60px; 
  right: 40px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 3;
}
.nav_icon{
  width: 100%;
  height: 20vh;
  margin-top: 20%;
  padding: 0px;
}
.nav_icon h3{
  font-size: 1.1em;
  margin: 5px 0 16px 0;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
ul.icon_mobile{
  display: flex;
  padding: 0px;
  flex-direction: row;
  justify-content: center;

}
ul.icon_mobile img{
  width: 25px;
  height: 25px;
  margin: 4px 13px;
}
ul.icon_mobile li {
  list-style: none;
}
.wrapper-menu {
  position: absolute;
  top: 60px; 
  right: 40px;
  width: 30px;
  height:30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
  z-index: 5;
}

.wrapper-menu.open {
  transform: rotate(-45deg);  
}

.line-menu {
  background-color: #fff;
  border-radius: 3px;
  width: 100%;
  height: 3px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
  background-color: var(--bg_footer);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
  background-color: var(--bg_footer);
}
.open .line-menu.middle{
  background-color: var(--bg_footer);

}
/* End Hamburguer Menu */

/* hide nav from Desktop version*/
ul.desktop{
    visibility: hidden;
}
/* end of hide nav from Desktop */
div.banner{
    display: flex;
    height: 60vh;
    width: 90vw; 
    text-align: center;
    justify-content: space-between;
}
div.introducing_text h1{
    font-size: 40px;
    margin:40px 30px; 
    text-align: justify;
}
div.introducing_text p{
font-size: 19px;
margin:40px 30px; 
text-align: initial;
}
div.svg_mouse{
    text-align: center;
    margin: 4% 0%;
}
div.svg_mouse img{
    height: 33px;
    width: 33px;
    transform: rotate(180deg);
    z-index: 1;
}


/* About */
section.about_page{
    display: grid;
    justify-content: center;
    background-color: var(--blue);
    color:#FFFFFF;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.text_about{
      /* height: auto; */
      height: auto;
      width: 100%;
      flex-direction:column;
      justify-content: center;
} 
.about_page h2{
      margin: 30px 0 20px 0;
      font-size: 35px; 
      font-weight: 700;
      text-align: center;
      font-weight: bold;
}

.about_page p{ 
      max-width: 84vw; 
      text-align: justify;
      font-size: 1.175em;
      font-weight: 400;
      margin: 0 auto 0 auto;
      line-height: 1.5em;
} 
.about_page p span{
  font-weight: bold;
  color: #e86c2f;;
}
.containerAbout{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.animation{
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.svg_about{
  display: flex;
  justify-content: center;
  width: 60vw;
  height: 45vh;
  margin: 30px auto 0px auto;
}
/* Skill */
section.skill_page{
  height: 100vh;
  background-color: var(--bg);
  color: #1d2ec3;
  text-align: center;
  overflow-x: hidden;
}
.containerSkill{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
}
.skill_page h2{
  font-size: 40px;
  font-weight: 700;
  margin: 10px 0 15px 0;
  display: flex;
  justify-content: center;
}
.skill_page p{
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #000;
  margin: 0px;
}
img.logo_skill{
  display: flex;
  height: 100px;
  width: 100px;
   margin: 10px auto 5px auto;
}
div.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  margin: 10vh 0 10vh 0;
}
div.flex-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  background-color: #FFFFFF;
  box-shadow: 5px 6px 20px 10px rgba(0, 0, 0, 0.05);


  margin: 5px auto;
  height: 100px;
  width: 100px;
}
div.flex-item img{
  height: 60px;
  width: 50px;
}
/* Work */
section.work_page{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}
.containerWork{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  /* height: 100vh; */
}
.work_page h2{
  color: #616161;
  margin-bottom: 5vh;
  text-align: center;
}

/* Slider */
.slider-item{
  height: 20rem;
  width: 95vw;
}
.slider-item:first-child{
  background: linear-gradient(180deg,#f3cbab,#feedca);
}
.slider-item:nth-child(2) {
  background: linear-gradient(180deg,#7C6FA2,#F6EBFF);
}
.slider-item:nth-child(3) {
  background: #68BAA5;
}
.slider-item:nth-child(4) {
  background: #258594;
}

.box_container{
 padding: 2rem;
  height: 100%; 
}
.box_link{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.box_link a img{
 width: 28px;
 height: 28px;
 margin: 0  1.5rem 0  1.5rem;
}
.box_content{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 6rem 0 0 0;
}
.box_content h3{
 font-size: 1.9rem;
 font-weight: bold;
 margin: 0 0  2.5rem 0;
 text-transform: capitalize;
 line-height: 3rem;
 text-align: center;
}
.box_content h5{
  font-size: 1.1rem;
  letter-spacing: 3px;
  margin: 0;
  text-align: center;
 } 

/* test 2 */
.slider {
    height: 400px;
    width: 90vw;
    overflow: hidden;
    position: relative;
}

.slider .slider-item {
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    transition: transform 400ms;
}

.slider .slider-item.active,
.slider .slider-item.prev-item,
.slider .slider-item.next-item {
    display: block;
}

.slider-item.prev-item,
.slider-item.active.slide-next {
    transform: translateX(-100%);
}

.slider-item.active.slide-prev,
.slider-item.next-item {
    transform: translateX(100%);
}

.slider-item.prev-item.slide-end,
.slider-item.next-item.slide-end {
    transform: translateX(0);
}

.slide-indicators {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    padding: 0;
    display: flex;
}

.slider-control-prev,
.slider-control-next {
    position: absolute;
    z-index: 20;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
    transition: opacity 300ms;
}
.arrow{
  height: 50px;
  width: 50px;
}
.slider-control-prev {
    left: 10px;
}

.slider-control-prev:hover {
    opacity: 1;
}

.slider-control-next {
    right: 10px;
}

.slider-control-next:hover {
    opacity: 1;
}

.slide-indicator {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    /* background: #ffffff; */
    background: #000;
    opacity: 0.5;
    margin: 0 8px;
}

.slide-indicator.active {
    opacity: 1;
}



/* Footer */
footer{
  background-color: var(--bg_footer);
  color: #FFFFFF;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
footer p{
  font-size: 18px;
}
div.logo-div img{
  display: flex;
  margin: 30px auto 20px auto;
  width: 150px;
  height: 60px;
}

.socialmedia_page a img{
  margin: 5px;
}
div.socialmedia_page{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 30vh;
}
.container-socialmedia p{
  margin: 30px 0 25px 0;
  text-align: center;
  font-size: 25px;
}
.container-socialmedia p img{
  height: 25px;
  width: 25px;
  margin: 20px 0 0 10px;

  
}
div.socialmedia_page a img{
  height: 38px;
  width: 38px;
  margin:8px 10px; 
}

#email img{
  height: 38px;
  width: 38px;
}
div.h {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 30px;
} 
.svg_footer{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 70vw;
  height: 50vh;
  margin: 0px auto;
}

div.copyright{
  height: 15vh;
  /* display: flex; */
  border-top:1px solid #ffffff;
  justify-content: center;
  align-items: center;
}
div.copyright p{ display: flex; justify-content: center; align-items: center; margin: 10px;}

.copyright .coffee{
  margin: 0 10px 10px 10px;
  width: 25px;
  height: 25px;
}

.copyright a{
  text-decoration: none;
  list-style: none;
  color: #CFD8DC;
}
  

 /* For tablets: */
 @media (min-width: 481px) and (max-width: 1024px) {
  header{
    min-height: 15vh;
  }
  div.banner{
    height: auto;
    text-align: center;
    justify-content: center;
    }
    div.logo_first{
      position: absolute;
      top: 50px; 
      left: 10%;
     }
    div.svg_mouse{
      text-align: center;
      position: absolute;
      bottom: 10px;
      left: 50%;
      margin: 0px auto;
    }
    div.introducing_text{
      position: absolute;
      left: 10%;
      margin-top: 10%;
    }
    div.introducing_text h1{
        font-size: 45px;
        margin: 50px 5px 10px 0;
    }
    div.introducing_text p{
      width: 480px;
      margin: 50px 5px 10px 0px;
      text-align: initial;
  }
    .home{
      padding-top: 25%;
  }
    .nav_icon{
      margin-top: 10%;
  }
  /* skill */
  section.skill_page{
    height: 100vh;
  }
  div.grid{
    grid-template-columns: 1fr 1fr 1fr  ;
    max-width: 700px;
    margin: 40px auto 30px auto;
    justify-content: center;
    align-content: center;
  }
  div.flex-item{
    margin: 5px auto;
    height: 120px;
    width: 120px;
  }
  div.flex-item img{
    height: 60px;
    width: 60px;
  }
  .skill_page p{
    max-width: 400px;
    padding: 5px;
    margin: 4px auto; 
  }
}

   


/* For desktop: */
@media (min-width: 1025px){
  .navbar ul.desktop{
        visibility: visible;
    }
   #wrapper{
     visibility: hidden;
   } 
  .gsap_animation{
    display: none;
  }
  header{
    flex-direction: column;
  	align-items: center;
  }
  ul.desktop{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #e5e5e5;
    position: absolute;
    top: 50px; 
    right: 10%;
  }
  ul.desktop li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    margin: 0 15px 0 15px;
  }
  div.logo_first{
    position: absolute;
    top: 50px; 
    left: 10%;
   }
    div.svg_mouse{
        text-align: center;
        margin: 4% 0%;
    }
    div.svg_mouse img{
        height: 33px;
        width: 33px;
        transform: rotate(180deg);
        z-index: 1;
        margin: 0px 0px 5px 0px;
    }
    div.myphoto{
      margin: 10px 20px 50px 10px;
      height: 250px;
      width: 250px;
      background-image: url('../img/Photo.jpg');
      border-radius:150px;
      background-size: cover;
      position: absolute;
      right: 13%;
    }  
    div.introducing_text{
      position: absolute;
      left: 10%;
    }
    div.introducing_text h1{
        font-size: 60px;
        margin: 50px 30px 10px 0;
        text-align: justify;
    }
    div.introducing_text p{
      font-size: 19px;
      margin: 10px 0 20px 5px;
      text-align: initial;
    }
  /* skill */
  section.skill_page{
    height: 100vh;
  }
  .skill_page h2{
      font-size: 40px;
  }
  .skill_page p{
      font-size: 18px;
  }
  div.text_skill img{
      height: 120px;
      width: 120px;
      margin: 20px 0 5px 0;
  }
  div.grid{
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: center;
    margin: 80px auto 40px auto;
  }
  div.flex-item{
      margin: 10px 15px 10px 15px;
      height: 140px;
      width: 140px;
      background-color: #FFFFFF;  
  }
  div.flex-item img{
    height: 100px;
    width: 90px;
  }
}
